/* ---- Colors ---- */
$blue:          #D0D6F9;
$white:         #FFFFFF;
$black:         #0B0D17;

// Main Colors
$primary:     $black;
$secondary :  $white;
$tertiary:    $blue;


// Sizes
$btn-height: 48px;
$input-height: 40px;
$input-height-lg: 60px;

// Gutter Padding
$grid-gutter-width: 15px;

// Fonts
@import "mixins/strip-unit";
$font-family-base: 'Barlow', sans-serif;
$font-family-alt: 'Bellefair', serif;
$font-family-alt-2: 'Barlow Condensed', sans-serif;

  // Fz Bootstrap
  $font-size-base: 1rem /* 16px*/;
  $font-value-base: strip-unit($font-size-base);

  // Fz for mixin rem
  $font-size-base-px: (16px*$font-value-base) /* 1rem */;

// Break-points
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1445px
) !default;

// Container
$container-max-widths: (
  sm: 1180px,
  md: 1190px,
  lg: 1200px,
  xl: 1210px
) !default;
