/* ---- Commons ---- */

// Typography
h1, h2, h3, h4 { font-family: $font-family-alt; }
h5, h6 { font-family: $font-family-base; }

h1 {
  @include min(md){ font-size: rem(150px); color: $white; }
}
h2 {
  @include min(md){ font-size: rem(100px); color: $white; }
}
h3 {
  @include min(md){ font-size: rem(56px); color: $white; }
}
h4 {
  @include min(md){ font-size: rem(32px); color: $white; }
}
h5 {
  @include min(md){ font-size: rem(28px); letter-spacing: rem(4.725px); color: $blue; }
}

.subheading-1 { font-family: $font-family-alt; font-size: rem(28px); }
.subheading-2 {
  @include min(md){ font-size: rem(14px); letter-spacing: rem(2.35px); }
}