/* ---- Commons ---- */

// Typography
h1, h2, h3, h4, .h1, .h2, .h3, .h4 { font-family: $font-family-alt; text-transform: uppercase; font-weight: 400; }
h5, h6,.h5, .h6 { font-family: $font-family-alt-2; text-transform: uppercase; font-weight: 400; }

h1, .h1 { font-size: rem(80px); line-height: 1.25; margin-bottom: rem(14px); color: $white;
  @include min(sm){ font-size: rem(150px); line-height: rem(150px); margin-bottom: rem(24px); }
  @include min(md){ line-height: rem(172px); }
}
h2, .h2 { color: $white; font-size: rem(56px); line-height: rem(64px); margin: 0;
  @include min(sm){ font-size: rem(80px); line-height: rem(92px); margin-bottom: rem(8px); }
  @include min(md){ margin-bottom: rem(14px); }
  @include min(lg){ font-size: rem(100px); line-height: rem(115px); margin-bottom: rem(14px); }
}
h3, .h3 { color: $white; font-size: rem(24px); line-height: rem(28px);
  @include min(sm){ font-size: rem(40px); line-height: rem(46px); }
  @include min(md){ font-size: rem(56px); line-height: rem(64px);}
}
h4,.h4 { color: $white; opacity: .5; font-size: rem(16px); line-height: rem(18px); margin-bottom: rem(8px);
  @include min(sm){ font-size: rem(24px); line-height: rem(28px); }
  @include min(md){ font-size: rem(32px); line-height: rem(37px);}
}
h5,.h5 { font-size: rem(16px); line-height: rem(19px); letter-spacing: rem(2.7px); margin-bottom: rem(16px); color: $blue;
  @include min(sm){ font-size: rem(20px); line-height: rem(24px); letter-spacing: rem(3.375px); margin-bottom: rem(24px); }
  @include min(md){ font-size: rem(28px); line-height: 1.14; letter-spacing: rem(4.725px); }
}

.subheading-1 { font-family: $font-family-alt; font-size: rem(28px); line-height: rem(32px); text-transform: uppercase; }
.subheading-2 { font-family: $font-family-alt-2; font-size: rem(14px); letter-spacing: rem(2.35px); color: $blue; text-transform: uppercase; margin-bottom: rem(7px);
  @include min(md){}
}